{% extends "base.html" %}
{% block title %}Пост пользователя {{ author.get_full_name }}{% endblock %}| Yatube
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <div class="h2">
            Автор: {{ author.get_full_name }}
          </div>
          <div class="h3 text-muted">
            @{{ author.username }}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">
              Подписчиков: XXX <br>
              Подписан: XXX
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              <!-- Количество записей -->
              Записей: {{ author.posts.count }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      {% include "includes/post_item.html" with post=post %}
      {% include "comments.html" %}
      {% endblock %}
</main>