{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.get_full_name }}{% endblock %}| Yatube
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      {% include "includes/card_author.html" %}
      <div class="col-md-9">
        <!-- Начало блока с отдельным постом -->
        {% for post in page %}

        {% include "includes/post_item.html" with post=post %}

        {% endfor %}
        <!-- Здесь постраничная навигация паджинатора -->
        {% include "includes/paginator.html" %}

        {% endblock %}
      </div>
    </div>
</main>