{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3 mb-3 mt-1">
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h3">
              Об авторе
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              Антон Гребенюков<br>
              <a href="https://github.com/wwwwwdy">GitHub</a><br>
              <a href="https://vk.com/wdyslr">Вконтакте</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <div class="card-text">
        <p>Привет! Меня зовут Антон. Я студент курса Python-разработчик от Яндекс Практикума.<br>
          Окончил высшее учебное заведение по специальности "Промышленное и гражданское строительство" и имею
          академическую степень магистра.
          Некоторое время работал инженером-проектировщиком в сфере строительства, однако я быстро понял, что это все же
          не то, чем я хочу заниматься.
          Недолго размышляя, решил попробовать свои силы в программировании, прошел бесплатную часть от Яндекс
          Практикума и затянуло.
          К сожалению, в учении не всегда все гладко и я очень часто спотыкаюсь, от этого потихоньку теряя мотивацию.
          Однако, в конечном итоге, с выполнением какой-либо задачи, меня переполняют эмоции от результата и от этого
          хочется заниматься
          программированием еще больше!<br>
          <br>
          Загляни в мой профиль на <a href="https://github.com/wwwwwdy">GitHub</a>, как будет время! :)<br>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}