{% extends "base.html" %}
{% block title %}О технологиях проекта{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">
                О технологиях
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                 Немного о технологиях и не только
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Этот сайт разработан с помощью Python и фреймворка Django.
            Для меня весь процесс понимания фрейморка django дается довольно трудно, даже имея под рукой документацию. 
            Но с каждым днем, с каждым закреплением каких-либо действий и внедрением новых, я шаг за шагом познаю этот увлекательный инструмент! 
            Хотел бы добавить, что этот сайт написан мою на двух разных операционных системах, сам переход с Windows на macOS дался мне с трудом.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}