{% extends "base.html" %}
{% block title %}О технологиях проекта{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3 mb-3 mt-1">
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h4">
              О технологиях
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              Python 3.9.5<br>
              Django 2.2.6<br>
              Bootstrap
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <div class="card-text">
        <p>Этот сайт разработан с помощью Python и фреймворка Django с применением Bootstrap.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}